{{#user}}

<nav class="z-depth-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><span class="glyphicon glyphicon-fire"></span>burnUnit</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/users/profile/{{this.email}}/{{this.id}}">Profile</a></li>
            <li><a href="/users/startroast/{{this.id}}">Roast!</a></li>
            <li><a href="/login">Sign Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/users/profile/{{this.email}}/{{this.id}}">Profile</a></li>
            <li><a href="/users/startroast/{{this.id}}">Roast!</a></li>
            <li><a href="/login">Sign Out</a></li>

        </ul>
    </div>
</nav>

<section class="row">
    <div class="col s12">
        <h1>Profile</h1>
    </div>
</section>


<!-- profile photo and user info section -->
<section class="row">
    <div class="col m6 s12 center-align">
        <div class="row">
            <!-- user photo insert -->
            <img class="responsive-img" style="max-width: 450px" src="{{this.image}}">
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"><i class="material-icons left">insert_photo</i>Change Photo</a>
        </div>
    </div>
    <div class="col m6 s12">
        <div class="card-panel">
            <span class="black-text">
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5>Username</h5></div>
                        <!-- username insert -->
                        <div class="col m8 s12" id="username">{{this.username}}</div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col m4 s12" id="email"><h5>Email</h5></div>
                        <!-- email insert -->
                        <div class="col m8 s12">{{this.email}}</div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5><i class="material-icons left">location_on</i></h5></div>
                        <!-- location insert -->
                        <div class="col m8 s12">{{this.location}}</div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5>About Me</h5></div>
                        <!-- blurb insert -->
                        <div class="col m8 s12">{{this.about}}</div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn modal-trigger" href="#edit-user">
                            <i class="material-icons">edit</i>Edit Info</a>
                            {{> user/edit/editUser}}
                        </div>
                    </div>
                </span>
        </div>
</section>
<!-- user burns and stats -->
<section class="row">
    <div class="col m6 s12">
        <div class="row center-align">
            <div class="col m12">
                <h5>Sad-Ass Stats</h5>
            </div>
        </div>
        <div class="card-panel">
            <span class="black-text">
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5>Wins</h5></div>
                        <!-- win count insert -->
                        <div class="col m8 s12">{{this.wins}}</div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5>Roasts</h5></div>
                        <!-- roast count insert -->
                        <div class="col m8 s12">{{this.roasts}}</div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5>Most Recent Burn</h5></div>
                        <!-- most recent input insert -->
                        <div class="col m8 s12">"You have a dumb shirt"</div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col m4 s12"><h5>Ranking</h5></div>
                        <!-- ranking insert -->
                        <div class="col m8 s12">Pretty Pathetic</div>
                    </div>
                </span>
        </div>
    </div>
    <div class="col m4 s8">
        <div class="row">
            <div class="col m12 center-align">
                <!-- query database for last 2-3 wins -->
                <h5>Most Recent Wins</h5>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-image">
                    <!-- insert roastee photo, username-->
                    <img style="max-width: 100px; display: block; margin: auto;" src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/280055_2289006864966_4414621_o.jpg?oh=f3165f65c0a69eaf222912bbbd8e1a74&oe=59F4992E">
                    <span class="black-text card-title">UnCoolGuy1985</span>
                </div>
                <!-- insert roast quote and timestamp -->
                <div class="center-align card-content">
                    <p>"Q: What's your favorite color? A: Your Mom"</p>
                    <p style="font-size: 12px; font-weight: normal;"> Admitted to the burnUnit on August 7 at 10:20pm</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-image">
                    <!-- insert roastee photo, username-->
                    <img style="max-width: 100px; display: block; margin: auto;" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3NTM2OTU5M15BMl5BanBnXkFtZTcwOTExNjM0Mg@@._V1_UX214_CR0,0,214,317_AL_.jpg">
                    <span class="black-text card-title">SporkOnTheBeach</span>
                </div>
                <!-- insert roast quote and timestamp -->
                <div class="center-align card-content">
                    <p>"Way to be dumb"</p>
                    <p style="font-size: 12px; font-weight: normal;"> Admitted to the burnUnit on August 4 at 9:03pm</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-image">
                    <!-- insert roastee photo, username-->
                    <img style="max-width: 100px; display: block; margin: auto;" src="https://vignette3.wikia.nocookie.net/theoffice/images/8/89/110714office-jenna1.jpg/revision/latest?cb=20130513021443">
                    <span class="black-text card-title">SrirchaPam</span>
                </div>
                <!-- insert roast quote and timestamp -->
                <div class="center-align card-content">
                    <p>"You're dumb and take way too long to figure out your life"</p>
                    <p style="font-size: 12px; font-weight: normal;"> Admitted to the burnUnit on August 2 at 3:34pm</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{/user}}

<script type="text/javascript" src="../../../assets/js/profile.js"></script>